# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# Virtual environment
venv/
.env/
*.env

# Large model artifacts
models/*.joblib
!models/encoder.joblib
!models/scaler.joblib
!models/label_encoder.joblib

# Streamlit cache
.streamlit/
*.cache/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
